p{
    font-family: "monospace";
    font-size:"24px";
    color:green;

}
h1{
    font-size: "72px";
    font-family: monospace;
}
h2{
    background-color: black;
    color: yellow;
}
h3{
    background-color: green;
    color: pink
}
.color-yellow {
    color: yellow;
}
#background-color-black{
    background-color: black;
}
#background-color-red {
    background-color: red;
}
.text-color-white {
    color:white;
}